* {
  font-family: "Nunito", sans-serif;
}
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}
section {
  width: 100%;
}
nav {
  position: fixed;
  height: 7rem;
  background-color: #e2e2e2;
  justify-content: space-between;
  width: 100%;
  z-index: 99;
}
.page-head {
  width: 100%;
  margin-top: 0;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.page-head h1 {
  text-transform: uppercase;
  font-family: "Antic Slab", serif;
  letter-spacing: 1rem;
  padding: 0;
  font-size: 4vh;
  color: black;
}
.top-btns {
  border: none;
  color: black;
  background-color: rgba(255, 255, 255, 0);
}
.logo-container {
  height: inherit;
}
.logo-container img {
  object-fit: cover;
  height: inherit;
  width: 200px;
}
.menu-container {
  height: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu-container ul {
  height: inherit;
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}
.menu-container li {
  margin: 0.7rem;
}
.menu-container button {
  text-shadow: 0px 0px 10px black;
  border: none;
  transition: transform 0.1s;
  box-shadow: 0px 0px 10px black;
}
.menu-container button:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 10px white;
}

.sign-in-options {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}
.sign-in-options button {
  margin: 1rem;
}
.mobilebtn-div {
  display: none;
  align-items: center;
  margin: 1rem;
}
#menu-button {
  width: 4rem;
  font-size: 1.5rem;
}

/* Section 1 css */
.first-section {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.5)),
    url("../images/bg3.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7rem;
  max-width: 100%;
}
.big-text {
  text-transform: uppercase;
  text-align: center;
  font-family: "Antic Slab", serif;
  font-size: 5vw;
  padding-inline: 20rem;
  padding-block: 5rem;
  letter-spacing: 5px;
}
h4 {
  text-align: center;
  padding-top: 2rem;
  padding-inline: 5rem;
}
.search-pane {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/* Sign in module */
.blurred-div {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

.details {
  display: block;
  padding: 1rem;
  align-items: center;
}

.line {
  height: 1px;
  background-color: grey;
}
.line-2 {
  height: 1px;
  background-color: white;
}

.exit {
  text-align: right;
}
.sign-up-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
}
.sign-up-div a {
  text-decoration: none;
}
.sign-up-btn {
  background: none;
  border: none;
  color: #0d6efd;
}
.sign-up-btn:hover {
  border: 1px solid #0d6efd;
  background: none;
  color: #0d6efd;
}
.sign-in-head {
  justify-content: center;
}

#sign_up_form_div {
  display: none;
}

/* Promo section css */

.promo-section {
  height: fit-content;
  background-color: white;
}
.image-container img {
  width: 300px;
  object-fit: cover;
  border-radius: 3px;
}
.card {
  width: fit-content;
  margin: 2rem;
  border: none;
}
.card:hover {
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}
.card-details {
  color: white;
  position: absolute;
  padding: 0.5rem;
}
.col-promo {
  display: contents;
}
.promo-row {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
/* mid section */
.mid-section {
  background: url("../images/green.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: fit-content;
  color: white;
}
.button {
  width: 100%;
  text-align: center;
}

/* final section */
.final-section {
  height: 50vh;
  background-color: white;
}
.footer-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  background-color: #232123;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: static;
}

.copyright-container {
  text-align: start;
  padding: 2rem;
}

.social-links {
  height: fit-content;
}

.social-links ul {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.social-links li {
  margin: 0;
  color: white;
  font-size: 4vh;
  margin-inline: 1rem;
}

.social-links li:nth-child(1) :hover {
  color: #833ab4;
}
.social-links li:nth-child(2) :hover {
  color: #39569c;
}
.social-links li:nth-child(3) :hover {
  color: #26a7de;
}

.cpr-text {
  margin-inline-start: 2rem;
  color: white;
}
.about-container {
  margin-top: 2rem;
  text-align: start;
  padding: 2rem;
}
.about-container ul {
  list-style-type: none;
}
.about-container h3 {
  color: white;
  padding-block: 0.2rem;
  text-transform: uppercase;
}
.about-container h6 {
  color: #4d4c4d;
  font-size: 2vh;
  padding-block: 0.4rem;
}
.about-container h6::after {
  color: #4d4c4d;
}
.about-container h6:hover {
  cursor: pointer;
}
.joinUs-container {
  margin-top: 2rem;
  text-align: start;
  padding: 2rem;
  width: 400px;
}
.joinUs-container ul {
  list-style-type: none;
}
.joinUs-container h3 {
  color: white;
  padding-block: 0.2rem;
  text-transform: uppercase;
  text-align: start;
}
.joinUs-container input {
  border-radius: 5px;
  background-color: #393839;
  border: none;
  padding: 0.5rem;
  width: 100%;
  color: black;
  outline: none;
}
.joinUs-container input::placeholder {
  color: black;
}
.logo-holder img {
  width: 15rem;
  height: 6rem;
  object-fit: cover;
}

/* Services css */

.service-section {
  padding-block-start: 7rem;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  background: url("../images/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.service-bar {
  width: 100%;
}
.pending-orders {
  width: 100%;
  display: inline-flex;
  justify-content: end;
  padding-inline-end: 2rem;
}
.pending-orders button {
  width: 30%;
  padding: 0.5rem;
}
.search-bar {
  padding: 1rem;
  display: inline-flex;
  font-size: 2vh;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.search-bar button:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.7rem;
  border-radius: 5px 0px 0 5px;
  border: none;
  border-right: 3px solid grey;
  display: inline-flex;
  justify-content: space-evenly;
  width: 20vw;
  margin: 0;
  align-items: center;
}
.search-btn {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 5px 5px 0;
  margin: 0;
  border: none;
  font-size: 3vh;
  width: 10vw;
}
.search-bar button {
  transition: transform 0.2s;
}
.search-bar button:hover {
  transform: scale(1.05);
  background-color: white;
}
.search-bar button:active {
  box-shadow: 5px 0px 15px white;
}

.search-field {
  background-color: rgba(255, 255, 255, 0.5);
  height: inherit;
  outline: none;
  color: black;
  padding-inline: 1rem;
  border: none;
  font-size: 2vh;
  width: 70vw;
  transition: transform 0.2s;
  font-family: "Nunito", sans-serif;
}
.search-field:hover {
  transform: scale(1.01);
  background-color: rgba(255, 255, 255, 0.8);
}
.search-field:focus {
  background-color: white;
}
.search-field::placeholder {
  font-size: 2.5vh;
}
.main_container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-inline: 1rem;
  margin-block: 5vh;
  background-color: rgba(242, 242, 242, 0.903);
  border-radius: 5px;
}
.items-page-link {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
}
.category-item {
  transition: transform 0.2s;
  width: fit-content;
  height: fit-content;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  display: block;
  justify-content: center;
  text-align: center;
}
.category-item:hover {
  box-shadow: 0px 0px 10px black;
  transform: scale(1.1);
}
.category-item img {
  width: 200px;
  object-fit: contain;
}
.list-view {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.items-page-link h3 {
  text-transform: none;
}
.profile-section {
  height: fit-content;
  width: 100%;
  padding: 2rem;
  padding-block: 2rem;
}
.profile-section input {
  color: #212222b7;
}
.trans-cover {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.7);
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}
.profile-nav {
  background-color: white;
  height: initials;
  width: 23%;
  border-radius: 5px;
}
.data {
  width: 75%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.noData {
  display: none;
}

.profile-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-nav div {
  width: 100%;
}
.first-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.first-div hr {
  width: 70%;
  padding: 1px;
  border: none;
  background: rgba(0, 0, 0, 1);
  margin: 0;
}
.first-div img {
  width: 5rem;
  object-fit: cover;
  margin-block: 0.5rem;
}
.name {
  width: 100%;
  color: black;
  font-size: 3vh;
  padding: 0;
}
.second-div ul {
  padding: 2rem;
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
.second-div li:nth-child(2) {
  padding-block: 1rem;
}
.second-div button {
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;

  transition: transform 0.2s;
  background-color: #212222b7;
  outline: none;
}
.second-div button:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 10px white;
}

.profile-nav div:nth-child(2) {
  width: 100%;
}
.logout-div {
  width: 100%;
  padding: 1rem;
}
.logout {
  width: 100%;
}
.buttons-div {
  width: 100%;
}
.buttons-div button {
  border: none;
  border-radius: 0;
  outline: none;
}
.buttons-div button:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

.line-sep {
  height: 1px;
  border: none;
  background-color: black;
  width: 100%;
  margin: 0;
}
.info-div {
  width: 100%;
  height: fit-content;
  margin: 0;
  display: block;
}
.info {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.part-detail {
  color: black;
  font-weight: bold;
  padding-top: 0.5rem;
}
.action-buttons {
  display: inline-flex;
  padding: 1rem;
  width: 20vw;
}
.action-buttons button {
  width: 50%;
  margin-inline: 0.5rem;
  color: white;
}

.edit-name {
  width: 100%;
}
.name-change {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 1rem;
}
.name-field {
  display: inline-flex;
}
.name-data {
  margin-inline: 1rem;
  width: 100%;
}
.name-data input {
  border-radius: 5px;
  border: none;
  background: rgba(217, 217, 217, 1);
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  width: 100%;
}
.edit-email {
  padding-top: 1rem;
}
.edit-box {
  border-radius: 5px;
  border: none;
  background: rgba(217, 217, 217, 1);
  outline: none;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  width: 100%;
}

.photo-change {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.photo-cont {
  display: inline-flex;
  justify-content: space-between;
}
.current-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current-profile img {
  width: 5rem;
  object-fit: cover;
  margin-block: 0.5rem;
}
.photo-sm {
  width: 5rem;
  object-fit: cover;
  margin-block: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.contacts-change {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.my-profile {
  width: 100%;
  padding: 0;
  margin: 0;
}
.passuwad {
  width: 100%;
  height: 63vh;
}
.password-head {
  padding-top: 2rem;
  padding-inline: 2rem;
  display: inline-flex;
  align-items: center;
}
.password-head img {
  width: 50px;
  object-fit: contain;
  padding-inline-end: 1rem;
}
.password-head h3 {
  padding: 0;
  margin: 0;
}
.profile-page {
  background: url("../images/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7rem;
  height: fit-content;
}
.profile-history {
  width: 75%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.history-head img {
  width: 50px;
  object-fit: contain;
  padding-inline-end: 1rem;
}
.history-head {
  padding-top: 1rem;
  padding-inline: 2rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
}
.history-head h3 {
  padding: 0;
  margin: 0;
}
.profile-history hr {
  border: none;
  padding: 1px;
  color: black;
  width: 100%;
}
.history-table-div {
  width: 100%;
  height: 55vh;
}
.table {
  border: none;
  width: 100%;
  color: black;
}
td {
  border-bottom: none;
  width: 100%;
  text-align: center;
}
tr {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 2px solid #e2e2e2;
  font-weight: bold;
}
button {
  transition: transform 1s;
}
button:hover {
  transform: scale(1.05);
}
.operation-message {
  display: none;
  position: fixed;
  top: 10vh;
  flex-direction: row;
  border-radius: 5px;
  width: 50%;
  margin-block: 1rem;
  padding: 1rem;
  text-align: start;
}
.success {
  background-color: #d4edda;
  color: #325632;
  border: 1px solid #325632;
}
.warning {
  background-color: #fff3cd;
  color: #877840;
  border: 1px solid #877840;
}
.error {
  background-color: #f7d7da;
  color: #9e726b;
  border: 1px solid #9e726b;
}
.operation-message p {
  margin: 0;
}
